.list-contact {
  display: flex;
  flex-direction: column;

  .item:hover {
    background-color: #dcf1fa;
  }

  .item {
    display: flex;
    flex-direction: row;
    padding: 8px;
    cursor: pointer;

    &.active {
      background-color: #c7edfc;
    }

    .avatar {
      display: flex;

      img {
        height: 36px;
        width: 36px;
        align-self: center;
      }
    }

    .name {
      font-size: 15px;
      margin-left: 15px;
      align-self: center;
    }
  }
}

.list-find-people {

  .item {
    display: flex;
    flex-direction: row;
    padding: 8px 0px;

    .name-avatar {
      display: flex;
      flex-direction: row;
      flex: auto;

      .avatar {
        height: 36px;
        width: 36px;
        align-self: center;
        img{
            width: 100%;
            height: 100%;
        }
      }

      .name {
        margin-left: 10px;
        align-self: center;
      }
    }
  }
}

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;

  .title {
    align-self: center;
    font-size: 60px;
  }

  .avatar-welcome-page {
    align-self: center;

    img {
      height: 120px;
      width: 120px;
    }
  }
}
