.register-conatiner {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 16px;

  .profile-form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .form-row {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
