.side-bar-nav {
    border-right: 1px solid #d5d9de;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    // width: 20%;
    min-width: 312px;
    height: 100%;
    background-color: #f0f4f8;
    max-width: 312px;

    .control {
        height: fit-content;
        border-bottom: 1px solid #d5d9de;
        position: relative;

        .user-info {
            display: flex;
            flex-direction: row;
            padding: 8px;
            cursor: pointer;
            
            .view-click-avatar{
                outline: none;
            }

            .avatar {
                img {
                    height: 36px;
                    width: 36px;
                }
            }

            .icon-add-fr {
                height: 25px;
                width: 25px;
                align-self: center;
                margin-right: 10px;
            }

            .user-name {
                margin-left: 15px;
                align-self: center;
                font-size: 15px;
                flex-basis: 300px;
            }
        }

        .search-field {
            display: flex;
            justify-content: center;
            padding: 8px;

            form {
                width: 100%;

                .text-field-container {
                    width: 100%;

                    .mb-3 {
                        margin: 0px !important;
                    }

                    .input-field {
                        width: 100%;
                    }
                }
            }
        }

        .tab-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 8px;

            .chat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80px;
            }

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80px;
            }

            img {
                height: 20px;
                width: 20px;
                align-self: center;
            }

            .descr {
                align-self: center;
            }
        }
    }
}

.item-user-contact:hover {
    background-color: #DCF1FA;
}

.item-user-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;

    .name {
        word-break: break-word;
    }

    img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    Button {
        width: 92px;
    }

    .item-info {
        margin-left: 10px;
        flex: auto;
        display: flex;
        align-items: center;
    }
}

.view-detail-edit-container {
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: white;
    top: 50px;
    left: 10px;
    padding: 10px;

    .item {
        cursor: pointer;
    }

    .detail-user {
        display: flex;
        flex-direction: row;
        align-items: center;


        hr {
            margin: 10px 0px;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .name-email {
            margin-left: 10px;

            .name {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

}