form input[type=text]
{
	width:100%;
	padding: 10px;
	font-size: 14px;
	border: none;
	background: #f2f2f2;
	border-radius: 15px;
}
form{
    padding-left:5px;
    padding-right:5px;
}
form input[type=text]{
    text-align:center;
    padding-left:35px;
    padding-right:35px;
}
.form-control .has-search{
	padding-left:2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
::-webkit-input-placeholder {
   text-align: center;
}
