/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.sidenav-container {
  width: 325px;
  height: 100%;
  .tabs {
    display: flex;
    flex-direction: row;
    height: 50px;
    .tab:hover {
      background-color: rgba(199, 237, 252, 0.5);
    }
    .tab {
      cursor: pointer;
      flex: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        margin: 0px;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.list-container {
  height: 100%;
  overflow: auto;
}

.list-friend {
  display: flex;
  flex-direction: column;
  background-color: #f0f4f8;

  .item:hover {
    background-color: rgba(199, 237, 252, 0.5);
  }
  .item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    height: 59px;
    cursor: pointer;
    img {
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
    .info {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      flex: auto;
      p {
        margin: 0px;
      }
    }
    .end {
      height: 100%;
      p {
        margin: 0px;
      }
    }
  }
}

.content {
  flex:auto;
}
